<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <base th:href="|${#request.getContextPath()}/|"/>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="layui/css/layui.css">
    <script type="text/javascript" src="js/jquery-3.4.0.js"></script>
    <script type="text/javascript" src="layui/layui.js"></script>
</head>
<script type="text/javascript">
    layui.use('form', function(){
        var form = layui.form;
        form.render();
    });
</script>
<body>
<form action="" method="post" class="layui-form">
    <div class="layui-row layui-col-space15 layui-form-item">
        <div class="layui-col-md3">
            <label class="layui-form-label1">所在选择彩票类型</label>
            <div class="layui-input-block">
                <select lay-verify="required" id="id" name="id">
                    <option value="0">默认为主模块</option>
                    <option th:each="category:${categoryList}" th:value="${category.id}" th:text="${category.categoryName}"></option>
                </select>
            </div>
        </div>
        <div class="layui-col-md9">
            <label class="layui-form-label1">彩票名/列表名</label>
            <div class="layui-input-block">
                <input type="text" id="name" name="name" required lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-col-md9">
            <label class="layui-form-label1">库存</label>
            <div class="layui-input-block">
                <input type="text" id="num" name="num" required lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-upload">
            <button type="button" class="layui-btn layui-btn-normal" id="testList">选择多文件</button>
            <div class="layui-upload-list">
                <table class="layui-table">
                    <thead>
                    <tr><th>文件名</th>
                        <th>大小</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr></thead>
                    <tbody id="demoList"></tbody>
                </table>
            </div>
            <button type="button" class="layui-btn" id="testListAction">开始上传</button>
        </div>
    </div>
    <div class="layui-form-item">
        <button type="button" id="insertLottery" class="layui-btn" lay-filter="*" >立即发布</button>
    </div>
</form>
</body>
<script type="text/javascript">
$(function () {
    $('#insertLottery').click(function () {
        if (pd()){
            var id = $('form option:selected').val();
            var name = $('#name').val();
            var num = $('#num').val();
            $.post('/lottery/insertLottery',{'id':id,'name':name,'num':num},function (data) {
                alert(data.msg);
                top.location.reload();
            },"json")
        }


    });
    //多文件列表示例
    var demoListView = $('#demoList')
        ,uploadListIns = upload.render({
        elem: '#testList'
        ,url: '/upload/'
        ,accept: 'file'
        ,multiple: true
        ,auto: false
        ,bindAction: '#testListAction'
        ,choose: function(obj){
            var files = this.files = obj.pushFile(); //将每次选择的文件追加到文件队列
            //读取本地文件
            obj.preview(function(index, file, result){
                var tr = $(['<tr id="upload-'+ index +'">'
                    ,'<td>'+ file.name +'</td>'
                    ,'<td>'+ (file.size/1014).toFixed(1) +'kb</td>'
                    ,'<td>等待上传</td>'
                    ,'<td>'
                    ,'<button class="layui-btn layui-btn-xs demo-reload layui-hide">重传</button>'
                    ,'<button class="layui-btn layui-btn-xs layui-btn-danger demo-delete">删除</button>'
                    ,'</td>'
                    ,'</tr>'].join(''));

                //单个重传
                tr.find('.demo-reload').on('click', function(){
                    obj.upload(index, file);
                });
                //删除
                tr.find('.demo-delete').on('click', function(){
                    delete files[index]; //删除对应的文件
                    tr.remove();
                    uploadListIns.config.elem.next()[0].value = ''; //清空 input file 值，以免删除后出现同名文件不可选
                });

                demoListView.append(tr);
            });
        }
        ,done: function(res, index, upload){
            if(res.code == 0){ //上传成功
                var tr = demoListView.find('tr#upload-'+ index)
                    ,tds = tr.children();
                tds.eq(2).html('<span style="color: #5FB878;">上传成功</span>');
                tds.eq(3).html(''); //清空操作
                return delete this.files[index]; //删除文件队列已经上传成功的文件
            }
            this.error(index, upload);
        }
        ,error: function(index, upload){
            var tr = demoListView.find('tr#upload-'+ index)
                ,tds = tr.children();
            tds.eq(2).html('<span style="color: #FF5722;">上传失败</span>');
            tds.eq(3).find('.demo-reload').removeClass('layui-hide'); //显示重传
        }
    });
})
    function pd() {
        var name = $('#name').val();
        var num = $('#num').val();
        if (name == "" || num == "") {
            alert("名称和库存不能为空");
            return false;
        }else {
            var regu = "^[0-9]+$";
            var re = new RegExp(regu);
            if (num.search(re) != -1){
                return true;
            }else {
                alert("请输入正确的正整数")
                return false;
            }
        }

    }
</script>
</html>