<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bysj.dao.CategoryMapper">
    <resultMap id="categoryMap" type="category">
        <id property="id"                    column="id"/>
        <result property="categoryName"      column="name"/>
        <result property="categoryDesc"      column="desc"/>
        <result property="categoryNum"       column="num_sum"/>
    </resultMap>
    <select id="getCategoryList" resultMap="categoryMap">
        select * from t_category
    </select>


    <select id="getByCategory" resultMap="categoryMap">
        select * from  t_category where id = #{id}
    </select>
    
    <update id="updatenum">
        update t_category set num_sum = (num_sum+#{num}) where id=#{id}
    </update>
</mapper>
